@media (prefers-color-scheme: dark), (prefers-dark-interface) { /* the latter is required for Safari/Webkit? https://stackoverflow.com/a/58163051/2533433 */

  :root {
    --iod-light-background: rgb(51, 55, 58);
    --iod-medium-background: rgb(38, 42, 43);
    --iod-dark-background: #0D1117;
  }

  body { background-color: var(--iod-dark-background); color:rgb(194, 228, 255); }

  h1 { color:rgb(51, 129, 255); }
  h2, h3, h4, h5 { color:#00a5ff; }

  code, .code, pre { background-color:inherit }

  table { border-color: rgb(77, 83, 86); background-color: var(--iod-medium-background); }
  th { background-color:var(--iod-medium-background); }
  td { background-color:var(--iod-light-background); }
  table.inner th { background-color:var(--iod-medium-background); }

  a { color: rgb(26, 174, 255); }
  a:hover { text-decoration-color: currentcolor; background-color: rgb(34, 36, 38); }

  #toc { background-color:var(--iod-medium-background); }

}